:root {
  --mii-blue: #0088cc;
  --white-bg: rgba(255, 255, 255, 0.9);
  --dark: #141f25;
  --translucent-header: rgb(13, 84, 119, 0.75);
}

.mii-home {
  height: 100%;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
}

.mii-home-header {
  /* margin: 0 auto; */
}

.mii-home__top-nav {
  height: 2rem;
  padding: 2rem 2rem 1rem;
  /* padding-top: 3rem; */
  display: flex;
  flex-direction: row;
  color: var(--mii-blue);
  justify-content: space-between;
  background: var(--dark);
  align-items: baseline;
}
.mii-home__links a {
  color: white;
  text-decoration: none;
}

.mii-home-header {
  padding: 2rem 3rem 0;
  background-color: rgb(13, 84, 119, 0.75);
  color: white;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  align-content: center;
}

.mii-home__logo {
  height: 4rem;
}

.mii-home-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mii-home-content {
  font-size: 1.25rem;
  max-width: 60rem;
  background: var(--white-bg);
  margin: 3rem auto;
  padding: 2rem;
}

.mii-home-title {
  text-align: center;
}

.mii-tile {
  flex: 1;
  margin: 1rem;
  min-width: 20rem;
}
