.instrument-premium {
  /* margin-left: 1rem; */
}

.instrument-premium__fields {
  padding-left: 1.25rem;
  padding-right: var(--horizontal-margin);
}

.instrument-premium__value {
  padding: 1.25rem 0;
  background: var(--primary-light);
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
}

.instrument-premium__image {
  max-width: 100%;
  height: 18rem;
  display: block;
  margin: auto;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.instrument-premium__comment {
  font-size: 1.25rem;
}

.instrument-premium__image-placeholder {
  color: var(--grey-text);
  margin: auto;
  text-align: center;
  height: 18rem;
  line-height: 13rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: fit-content;
}

.instrument-premium__image-placeholder > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.discount-detail {
  list-style: none;
  padding: 0;
}
.discount-detail-row {
  vertical-align: middle;
  margin: 0;
}
.discount-icon {
  height: 1.5rem;
  vertical-align: middle;
  margin: 0.2rem 0.5rem;
}
