/* .instrument-details {} */

.instrument-fields {
  padding-left: var(--horizontal-margin);
  padding-right: 1.25rem;
}

.image-feedback {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.confidence-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.warning {
  color: grey;
  font-size: 0.7rem;
  margin: 0.5rem;
}
