.mii-form {
  display: flex;
  flex-direction: column;
}

.mii-form__fields,
.mii-form__buttons {
  display: flex;
  flex-direction: column;
}

.mii-form__fields.row {
  flex-direction: row;
}

.mii-form__buttons {
  flex-direction: row;
}

.mii-form--wrapping-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mii-form--wrapping-group > .wrapped-input {
  width: 40%;
  margin-right: 1rem;
}
