.mii-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.mii-form__fields,
.mii-form__buttons {
  display: flex;
  flex-direction: column;
}

.mii-form__fields.row {
  flex-direction: row;
}

.mii-form__fields.row > .section {
  flex: 1;
  margin: 0 1rem;
}

.mii-form__buttons {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: flex-end;
}

.mii-form__buttons > * {
  margin-left: 1rem;
}

.mii-form--wrapping-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mii-form--wrapping-group > .wrapped-input {
  width: 40%;
  margin-right: 1rem;
}
