.mii-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.mii-form__fields,
.mii-form__buttons {
  display: flex;
  flex-direction: column;
}

.mii-form__fields.row {
  flex-direction: row;
}

.mii-form__fields.row > .section {
  flex: 1;
  margin: 0 1rem;
}

.mii-form__buttons {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--translucent-header);
  background: var(--dark);
  padding: 1rem;
}

.mii-form__buttons > * {
  margin-left: 1rem;
}

.form__title {
  border-color: var(--dark);
}

.mii-form--wrapping-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mii-form--wrapping-group > .wrapped-input {
  width: 40%;
  margin-right: 1rem;
}

.mii-fieldset {
  padding: 1rem 0;
  border-width: 3rem 0 0 0;
  border-style: solid;
  border-color: var(--dark);
  border-color: var(--translucent-header);
}

.mii-fieldset legend {
  margin-left: 1rem;
  line-height: 3rem;
  background: var(--translucent-header);
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
