.wrapped-input {
  display: block;
  margin-top: 0.5rem;
}

.wrapped-input__label {
  font-size: 0.75rem;
  display: block;
  line-height: 1.2rem;
  color: #575;
}

.wrapped-input input,
.wrapped-input textarea {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.wrapped-input__warn-text {
  color: #f55;
}
