.wrapped-input {
  display: block;
  margin-top: 0.75rem;
}

.wrapped-input__label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  display: block;
  line-height: 1.2rem;
  color: #333;
}

.wrapped-input input,
.wrapped-input textarea,
.wrapped-input select {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.4rem;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.2rem;
}

.wrapped-input input[type="number"]::-webkit-inner-spin-button,
.wrapped-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapped-input input:focus,
.wrapped-input textarea:focus,
.wrapped-input select:focus {
  outline: solid 2px var(--mii-blue);
}

.wrapped-input__warn-text {
  color: #f55;
}
