.wrapped-input {
  display: block;
  margin-top: 0.75rem;
}

.wrapped-input__label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  display: block;
  line-height: 1.5rem;
  color: #333;
}

.wrapped-input input,
.wrapped-input textarea,
.wrapped-input select,
.wrapped-input.file {
  border: none;
  background: var(--form-field-bg);
  padding: 0.55rem 0.9rem;
  font-size: 1.125rem;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 0.125rem var(--form-field-bg);
  border-radius: 0;
  /* -webkit-appearance: none; chrome mac */ /* TODO Needs a manual drop-down visual if this is on */
  -webkit-border-radius: 0px; /* chrome mac */
}

.wrapped-input input[type="number"]::-webkit-inner-spin-button,
.wrapped-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapped-input input:focus,
.wrapped-input textarea:focus,
.wrapped-input select:focus {
  outline: none;
  background: var(--form-field-focus-bg);
  border-bottom: solid 0.125rem var(--accent-color);
}

.wrapped-input.file {
  cursor: pointer;
}
.wrapped-input.file .wrapped-input__label {
  font-size: 1.125rem;
  color: black;
}

.wrapped-input input[type="file"] {
  visibility: hidden;
  width: 1px;
}

.wrapped-input__warn-text {
  color: #f55;
}
