.mii-react-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* Photo by Thomas Kelley on Unsplash */
  background: url("./img/thomas-kelley-78865-unsplash.jpg") scroll;
  background-size: cover;
}

.mii-react-app-logo {
  height: 2rem;
  pointer-events: none;
  background: white;
  padding: 0.5rem;
  /* margin-right: 0.5rem; */
}

.mii-react-app-title {
  font-size: 2rem;
  color: #0088cc;
  color: #fff;
  font-weight: 500;
  flex: 1;
  margin: 0 0.5rem;
}

.mii-react-app-header {
  padding: 0.25rem;
  background-color: rgb(175, 228, 255);
  background-color: rgb(13, 84, 119);
  min-height: 2rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  width: 66%;
  margin: auto;
  box-sizing: border-box;
}

.mii-react-app-content {
  flex: 1;
  background: #f8f8f8;
  padding: 1rem;
  width: 66%;
  margin: 2rem auto;
  box-sizing: border-box;
  margin-bottom: 1rem;
  overflow: auto;
}

.mii-react-app-link {
  color: #61dafb;
}

.mii-react-app .mii-button,
.mii-react-app button {
  border: none;
  background: #0088cc;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5rem;
}

.mii-react-app .mii-button.inline,
.mii-react-app button.inline {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem 0.7rem;
  margin: 1.5rem 0;
}

.mii-react-app .mii-button.secondary,
.mii-react-app button.secondary {
  color: #0088cc;
  background: white;
  border: solid 1px #0088cc;
}
